$footer-vertical-padding: 3rem;

.footer {
  background-color: rgba(255,255,255,0.15);
  color: $theme-light;
  padding-bottom: $footer-vertical-padding;
  padding-top: $footer-vertical-padding;
}

.footer__title {
  font-size: $font-size-h4;
}
