// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_list .image img {
    max-width: 200px;
    max-height: 200px;
}

.image_list a {
    text-decoration: none;
}

.image_list a:hover {
    background-color: transparent;
}
