<%= simple_form_for share_form,
                    as: :share_form,
                    remote: true,
                    url: (@image.present? ? share_image_path(@image) : ''),
                    html: { 'data-url-template': share_image_path('ID_PLACEHOLDER') } do |f| %>
  <div class="modal-body">
    <%= f.input :recipient_email %>
    <%= f.input :message, as: :text %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit 'Send message', class: 'btn btn-primary' %>
  </div>
<% end %>
