<div class="modal fade" id="share_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Share this image</h4>
      </div>
      <%= simple_form_for ImagesController::ShareImageForm.new,
                          as: :share_form,
                          remote: true,
                          url: '#',
                          html: { 'data-url-template': share_image_path('ID_PLACEHOLDER') } do |f| %>
        <div class="modal-body">
          <%= f.input :recipient_email %>
          <%= f.input :message, as: :text %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Send message', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
