<p id="notice"><%= notice %></p>

<div class="image-list text-muted">
  <div class="container">

    <div class="row">
      <% @images.each do |image| %>
        <%= render(partial: 'image', locals: { image: image }) %>
      <% end %>
    </div>

  </div>
</div>

<%= link_to 'New Image', new_image_path %>
