<p>
  <%= link_to 'New Image', new_image_path, class: 'btn btn-primary' %>
</p>

<%= render partial: 'shared/image_list', object: @images %>

<%= render partial: 'share_modal' %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'views/images/index/index' %>
  <script>
    ImagesIndexView.init();
  </script>
<% end %>
