<div>
  <%= render partial: 'shared/image', object: @image %>
</div>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', images_path %>
